doctype html
html(lang="ja")
    head
        title "gulpのテスト"
        meta(charset="UTF-8", hoge="test")
        link(rel='stylesheet', href='./css/test.css')
    body
        div 初めてのJadeです。
        div.container
            div: p: span 文字列！
            article.sakai
                section
                    header
                        h1 タイトルだよ
                    p コンテンツだよ
                    p コンテンツ2だよぉ
                    p #{hensu}
