doctype html
html(lang="ja")
    head
        title "gulp dest test"
        meta(charset="UTF-8", hoge="test")
        link(rel='stylesheet', href="assets/css/style.min.css")
    body
        div.gulp
            article.hoge
                section
                    header
                        h1 がぶ飲み
                    p Gulp早い気がする。
            div: p: span 私はすぱん
        script(src="assets/scripts/sample.min.js")
